<a href="https://colab.research.google.com/github/rabulhasan/data_analytics_2/blob/main/Study%20Mett/Unit_3_Lect_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
a = np.array([1,2,3,9], dtype='int32')
print(a)

[1 2 3 9]

In [2]:
import numpy as np
b = np.array([[9.0,8.0,7.0],[6.0,5.0,4.0]])
print(b)
print(b.size)
b.shape

[[9. 8. 7.]
 [6. 5. 4.]]
6

(2, 3)

In [3]:
b.ndim

2

In [4]:
# Get Dimension
a.ndim

1

In [5]:
a.shape

(4,)

In [6]:
 #Get Type
a.dtype

dtype('int32')

In [7]:
# Get Size
a.itemsize

4

In [8]:
 #Get number of elements
a.size

4

In [9]:
import numpy as np
c= np.array([13.1,2,3,9])
print(c)
#c.itemsize
c.size

[13.1  2.   3.   9. ]

4

In [10]:
cars= np.array(['dodge','jeep','bmw'], dtype=str)
print(cars)

['dodge' 'jeep' 'bmw']

In [11]:
cars.shape

(3,)

In [12]:
cars.size

3

In [13]:
cars.ndim

1

In [14]:
cars.itemsize

20

In [15]:
cars.dtype

dtype('<U5')


Accessing/Changing specific elements, rows, columns, etc

In [16]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [17]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(a[1,0],a[1,2])

8 10

In [18]:
# Get a specific element [r, c]
a[1, 5]

13

In [19]:
# Get a specific row 
a[0, :]

array([1, 2, 3, 4, 5, 6, 7])

In [20]:
# Get a specific column
a[:, 2]

array([ 3, 10])

Initializing Different Types of Arrays

In [21]:
# All 0s matrix
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [22]:
# All 1s matrix
d=np.ones((4,2), dtype='int32')
d

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1]], dtype=int32)

Mathematics/can perform basic +,-,/,* and advanced operations

In [23]:
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [24]:
a + 2

array([3, 4, 5, 6])

In [25]:
a * 2

array([2, 4, 6, 8])

In [26]:
# adding two arrays ,is adding each element by element/They have to be the same size
a = np.array([1,2,3,4])
b = np.array([1,0,1,0])
a + b

array([2, 2, 4, 4])

Accessing Elements of Array

In [27]:
a = np.array([17,2,3,4])
print(a[0])
a[3]

17

4

In [28]:
w=np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(w)
print(w[0,0])
print(w[1,3])

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]
1
11

In [29]:
import numpy as np
arr = np.array([1, 2, 3, 4])
print(arr[2] + arr[3])

7

*******Finding value greater or less < x >  in Array********** Assignment

In [30]:
import numpy as np
studentscore = np.array([56,87,43,68,90])
passingscore=studentscore>60
print(passingscore)
studentscore[passingscore]

[False  True False  True  True]

array([87, 68, 90])

Copy and view (slide 18)
When working with arrays, data is copied into new arrays only in some cases.

In [31]:
import numpy as np
carss= np.array(['dodge','jeep','bmw'])
print(carss)
autos=carss
print(autos)
#show both subjects are the same
print(carss is autos)
print(len (autos))
autos[1]='benz'
print(autos)
print(carss)

['dodge' 'jeep' 'bmw']
['dodge' 'jeep' 'bmw']
True
3
['dodge' 'benz' 'bmw']
['dodge' 'benz' 'bmw']

Some times we want to manuplate an array but keep acopy of older version

In [32]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

(Ufunc) Universall functions ,ufuncs stands for "Universal Functions" and they are NumPy functions that operates on the ndarray object.

In [33]:
import numpy as np

x = [1, 2, 3, 4]
y = [4, 5, 6, 7]
z = np.add(x, y)

print(z)

[ 5  7  9 11]

In [34]:
import numpy as np

arr1 = np.array([10, 11, 12, 13, 14, 15])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = np.add(arr1, arr2)
print(newarr)
newarr=arr1 - arr2
newarr
print(newarr)

[30 32 34 36 38 40]
[-10 -10 -10 -10 -10 -10]

In [35]:
import numpy as np

arr1 = ([10, 11, 45, 180, 90, 0])
print(np.cos(arr1))
print(np.sqrt(arr1))

[-0.83907153  0.0044257   0.52532199 -0.59846007 -0.44807362  1.        ]
[ 3.16227766  3.31662479  6.70820393 13.41640786  9.48683298  0.        ]

transposing array

In [36]:
import numpy as np
ary = np.array([[1, 2, 3], [4, 5, 6]])
print(ary)
np.transpose(ary)
print(np.transpose(ary))

[[1 2 3]
 [4 5 6]]
[[1 4]
 [2 5]
 [3 6]]

Statistics on Arrays

*******Finding min ,max values in Array********** Assignment

In [37]:
#Find Max number in Array
score = np.array([[1,2,3],[4,5,6]])
score

array([[1, 2, 3],
       [4, 5, 6]])

In [38]:
print(np.min(score))
print(np.max(score))

1
6

Assignment Unit_2,L1
Find maximum value & its index in a 1D Numpy Array:

In [39]:
#Find maximum value & its index in a 1D Numpy Array:
import numpy as np
num = np.array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])
print(np.max(num))

17

Find index of maximum value :
Get the array of indices of maximum value in numpy array using numpy.where() *italicized text*

In [40]:
# Get the max and indices of maximum element in numpy array
import numpy as np
num = np.array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])
result = np.where(num == np.max(num)) #create variable which will have the value of the max element in array (num in this case)
print('return max value',np.max(num))
print('Returned tuple of arrays :', result) # 
print('List of Indices of maximum element :', result[0])#,result[0] is the variable where [0] indicates where in the array the max value is

return max value 17
Returned tuple of arrays : (array([ 6, 13]),)
List of Indices of maximum element : [ 6 13]

In [41]:
#Dataset from summer Olympic London, year 2012
import numpy as np
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
highest = np.where(np_olympic_country_Gold== np.max(np_olympic_country_Gold))
print('Max number of gold medals',np.max(np_olympic_country_Gold ))
print('index number of maximum element (gold medals) :', highest[0])
print('The country with Max number of gold medals is:',np_olympic_country[highest])
more_than_20_medals=np_olympic_country_Gold >20
print(more_than_20_medals)
np_olympic_country_Gold[more_than_20_medals]
x = np.where(np_olympic_country_Gold >20)

print('the countrieas with more than 20 medals are:',np_olympic_country[x])

Max number of gold medals 46
index number of maximum element (gold medals) : [3]
The country with Max number of gold medals is: ['US']
[ True  True  True  True False False False]
the countrieas with more than 20 medals are: ['GBR' 'China' 'RUS' 'US']

In [42]:
#Find countrieas with more than 20 gold metals
import numpy as np
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
more_than_20_medals=np_olympic_country_Gold >20
print(more_than_20_medals)
np_olympic_country_Gold[more_than_20_medals]
x = np.where(np_olympic_country_Gold >20)

print(x)

[ True  True  True  True False False False]
(array([0, 1, 2, 3]),)